[Service]
User=max1
# No change needed to ExecStart, but the WorkingDirectory helps libtmux
WorkingDirectory=/home/max1/spot_ws/src/alert_dashboard_rqt/tmux_api_server
ExecStart=/usr/bin/python3 main.py
Restart=always
